.txt{

    display: flex;
    text-align: center;
    justify-self: center;
    margin: 20px 0px;
    font-weight: 700;
    font-size: var(--medium);
    font-family: bitter;
  }

  @media screen and(max-width:550px) {
    .txt{
      font-size: var(--normal);
    }
  }