.boxname{
    font-size: 30px;
    font-weight: 700;
    font-family: bitter;
    
}
.box{
width: 400px;
background-color: var(--sec-text);
display: flex;
gap: 5px;
font-size: 1.2rem;
font-family: lob;

}
.image{
    width: 100px;
}
.box_contain{
    display: flex;
    flex-direction: column;
gap: 4px;
    font-family: bitter;
}
ul{
    list-style-type: disc;
    padding-left: 20px;
}
li{
    margin-bottom: 9px;
}
@media screen and (max-width:550px) {
    li{
        font-size: var(--small);
    }
    .image{
        width: 60px;
    }
    p{
        font-size: small;
    }
}
@media screen and (max-width:400px) {
    .box{
        width: 200px;}
        .boxname{
            font-size: 20px;
        }
}