.mid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 40px 0px;
    padding: 0px var(--big); 
    background-color: var(--sec-color);
    padding: 0px var(--pad-norm);
    gap: 20px;
    place-items: center;
}
@media screen and (max-width: 850px) {
    .mid{
        margin: 40px 0px;
        grid-template-columns:  1fr;
        gap: 50px;
        justify-items: center;
    }
}
@media screen and (max-width:400px) {
    .mid{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0%;
    }
    
}