.mid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 40px 0px;
    padding: 0px 30px; 
    background-color: var(--sec-color);
    justify-content: center;
 
}
@media screen and (max-width: 850px) {
    .mid{
        margin: 40px 0px;
        grid-template-columns:  1fr;
        gap: 50px;
        justify-items: center;
    }
}
@media screen and (max-width:280px) {
    .mid{
        padding: 0%;
    }
    
}