.box{
    width: 30px;
    display:flex;
    
    cursor: pointer;
}


.Signinwindow{
    width: 400px;
    height: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: -900px;
    transition: 0.3s;
    margin-top: 50px;
    z-index: 4;
    border: 5px solid var(--border-color);
    padding: var(--pad-big);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.signin{
    color: var(--text-color);
}
.inp__cont{
    gap: 10px;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
flex-direction: column;
}
.back_btn{
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
}
.active{
    flex-direction: column;
    display: flex;
position: absolute;
top: 0px;
padding: 10px;
border-radius: 10px;}

@media screen and (max-width:490px) {
    .Signinwindow{
        width: 80%;
    }
}