.box{
    font-size: 25px;
    font-weight: 600;
    font-family: bitter;
    width: 200px;
    z-index: 2;
  }
  @media screen and (max-width:550px) {
    .box{font-size: 25px;
    width: 150px;}
  }