:root{
  /* fonts */
    --small:13px;
    --normal:17px;
    --medium:24px;
    --big:30px;
    /* border */
    --min-br:10px;
    --mid-br:20px;
    --max-br:30px;
    /* padding */
    --pad:10px;
    --pad-norm:20px;
    --pad-big:30px;
    /* gap */
    --mgap:10px;
    --ngap:20px;
    --bgap:30px;
}


[data_theme='light']{
    --background-color:white;
    --main-color: #FCC7D1;
    --sec-color:aliceblue;
    --footer:#633251;
    --text-color:black;
    --btn-color:#b35858;
    --btn-hicolor:#f67979;
    --logo:#8b231d;
    --main-text:rgb(61, 61, 61);;
    --sec-text:white;
    --name:#663399;
    --border-color: #f0c0c8;
    
}
[data_theme='dark']{
  --background-color:rgb(0, 0, 0);
  --main-color: #484848;
  --sec-color:rgb(43, 43, 44);
  --footer:#391d2f;
  --text-color:white ;
  --btn-color:#b26666;
  --btn-hicolor:#d05656;
  --logo:#8b231d;
  --main-text:rgb(252, 252, 252);;
  --sec-text:white;
  --name:#663399;
  --border-color: #c0c0c0;
  
}
.html{
  background-color: var();
}
.theme_options{
  display: flex;
  gap: 5px;
  width: 200px;
  justify-content: flex-end;
}
.theme_option{
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 3px solid grey;
}
#theme-light{
  background-color: #FCC7D1;
  color: black;
}
#theme-dark{
  background-color: black;
  color: white; 
}
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
  
  color: black;
}
a{
  text-decoration: none;
}
ul,ol{
 list-style: none;
}
@font-face {
  font-family: "bitter";
  src: url(../public/Fonts/Bitter-VariableFont_wght.ttf);
}
@font-face {
  font-family: "lobs";
  src: url(../public/Fonts/LobsterTwo-Italic.ttf);
}
@font-face {
  font-family: "ral";
  src: url(../public/Fonts/Raleway-Italic-VariableFont_wght.ttf);
}